*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(41, 41, 41);
}
h1{
    color:white;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px; 
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin: 20px;
    width: 300px;
}
.cell {
    width: 100px;
    height: 100px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem; 
    font-weight: bold; 
}
.cell.empty { 
    background: #53a4fc; 
} 

button{
    padding:10px 20px;
}
